<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="linkedlist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <script src="linkedlist.js"></script>
    <title>Linked list</title>
</head>

<body>
    <div class="container">
        <div id="header">
            <div id="logo">
                <img src="rvlogo.png" alt="logo">
                <div id="logotext">RV college of engineering</div>

            </div>
            <div id="heading">Singly linked list</div>
            <a href="error.html"><button id="logout" >Logout</button></a>
        </div>
        <div id="name">
            <div class="nameitems"> Welcome : <%= name %>
            </div>
            <div class="nameitems">USN : <%= usn%>
            </div>
        </div>
        <div id="name">
            <div class="nameitems"> Operations :</div>
            <div class="nameitems1">
                <input type="text" name="insert" id="insertinput">
                <div class="nameitems2" onclick="insertFront(document.getElementById('insertinput').value)">insert begin
                </div>
                <div class="nameitems2" onclick='addNode(document.getElementById("insertinput").value)'>insert end
                </div>
            </div>
            <div class="nameitems1">
                <div class="nameitems2" onclick="deleteFront()">delete begin </div>
                <div class="nameitems2" onclick="deleteEnd()">delete end </div>
            </div>
            <div class="nameitems1">
                <input type="text" name="insert" id="searchValue">
                <div class="nameitems2" onclick="searchElement(document.getElementById('searchValue').value)">search
                </div>
            </div>
            <div class="nameitems2"  onclick="traverseList()">Traverse </div>

        </div>
        <div class="container2">
            <div id="linked-list" class="linked-list"></div>
            <div class="resu1" style="text-align: center;">Result</div>
      <div class="resu1" id="resu" style="padding-top: 10px;"></div>
        </div>
    </div>
</body>

</html>